@import "tailwindcss";

button {
  @apply bg-blue-500 text-white font-bold py-1 px-4 disabled:bg-gray-200 rounded hover:bg-blue-400 cursor-pointer;
}

a {
    @apply hover:underline hover:cursor-pointer
}

.active {
    @apply font-semibold
}

input {
    @apply border border-neutral-300 rounded px-2 py-1;
}